@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
html{
  position: relative;
  font-family: 'Roboto', sans-serif;
}

body{
  color: #ddd;
  background-color:#111;
  min-height:100%;
}

div{
  margin:20px;
}

.page{
  padding:10px;
  font-size:14pt;
  background-color:#222;
  margin:auto;
  text-align: center;
  width:50%;
}
